# Ignore everything by default
*

# Allow only public and src folders
!public/
!src/
!README.md

# Allow hidden files inside public and src
!public/**
!src/**

# Explicitly ignore node_modules and other files
node_modules/
package-lock.json
package.json
angular.json
tsconfig.json
tsconfig.app.json
tsconfig.spec.json
